@include show-hide-up($breakpoints);
@include show-hide-down($breakpoints);
@include show-hide-only($breakpoints);

.no-margin {
    margin: 0;
}

.no-margin-x {
    margin-left: 0;
    margin-right: 0;
}

.no-margin-y {
    margin-top: 0;
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-x {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-y {
    padding-top: 0;
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-left {
    padding-left: 0;
}
