@include __build-grid-cells-system();

.grid {
    @include grid;
    
    // expand to full width
    &.fw {
        max-width: 100%;
    }

    // remove gap between cells
    &.no-gap {
        --grid-gap: 0;
    }

    &.x-align-center {
        justify-content: start;
    }

    &.x-align-end {
        justify-content: end;
    }

    &.x-align-stretch {
        justify-content: stretch;
    }

    &.y-align-center {
        align-content: start;
    }

    &.y-align-end {
        align-content: end;
    }

    &.y-align-stretch {
        align-content: stretch;
    }

    // fix margin - padding for subgrid
    .grid {
        --grid-padding: 0;
        --grid-margin-bottom: var(--grid-gap-y);
    }

    // default size to 12 columns
    .cell {
        grid-column-end: span $max-columns-allowed;
    }
}
