<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSS grid layout</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/uikit.css">
    </head>

    <body>

        <main>
            {% block main %} {% endblock %}
        </main>

        {# <script src="scripts/vendor.min.js"></script> #}
        <script src="js/main.min.js"></script>
        
    </body>
</html>
