@mixin __build-grid-cells-system($num: $max-columns-allowed) {
    @each $k, $v in $breakpoints {
        @include breakpoint(#{$k}) {
            @for $i from 1 through $num {
                .#{$k}#{$i} {
                    grid-column-end: span #{$i} !important;
                }
            }
        }
    }
}

// standard 12 colomns grid
@mixin grid($colsnum: var(--column-length), $colwidth: 1fr) {
    display: grid;
    width: 100%;
    max-width: var(--grid-max-width);
    padding: var(--grid-padding);
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat($colsnum, $colwidth);
    margin: 0 auto;
    margin-bottom: var(--grid-margin-bottom);
}

// shorthand for cell-align-x + cell-align-y
@mixin cell-align($x: var(--x-align), $y: var(--y-align)) {
    place-self: var(--x-align) var(--y-align);
}

// self align cell x axis
@mixin cell-align-x($x: var(--x-align)) {
    justify-self: var(--x-align);
}

// self align cell y axis
@mixin cell-align-y($y: var(--y-align)) {
    align-self: var(--y-align);
}
