@import 'setup/setup';
@import 'mixins/mixins';
@import 'helpers/helpers';

.col-example {
    --bg-left: var(--color-primary);
    --bg-right: var(--color-primary-dark);
    @include cell-align(center center);

    height: 40px;
    opacity: .8;

    &:first-child {
        background: var(--bg-left);
    }

    &:last-child {
        background: var(--bg-right);
    }

    // @include breakpoint(l) {
    //     --bg-right: var(--color-primary);
    //     --bg-left: var(--color-primary-dark);
    // }
}

// main {
//     padding: var(--pgpadding);
//     padding-right: calc(var(--pgpadding) - var(--scrollbar));
// }

// .dashboard-page {
//     background-color: var(--primary);
//     background-image: linear-gradient(315deg, var(--primary) 0%, var(--alert) 74%);
//     min-height: 100vh;
// }

// .dashboard-container {
//     display: grid;
//     // @apply --grid-template-columns;
// }

// .dashcard {
//     background: var(--primary-dark);
//     box-shadow: 3px 3px 3px -3px rgba(10, 1, 32, 1);
//     color: var(--white);
//     list-style: none;
//     margin-bottom: var(--global-margin-bottom);
//     margin-left: 0;

//     p {
//         font-size: rem-calc(14);

//         &:last-of-type {
//             margin-bottom: 0;
//         }
//     }

//     &--header {
//         padding: rem-calc(8 16);
//         background: var(--primary);;
//         position: relative;
//     }

//     &--title {
//         i {
//             margin-right: rem-calc(12);
//         }
//     }

//     &--details {
//         padding: rem-calc(16);
//         padding-top: rem-calc(8);
//     }

//     &__sizes {
//         .dashcard--title {
//             i {
//                 margin-right: rem-calc(8);
//             }
//         }
//         .dashcard--details {
//             padding-bottom: rem-calc(8);

//             p {
//                 margin-bottom: 0;
//             }
//         }
//     }

//     &__reports {
//         .dashcard--details {
//             padding-top: rem-calc(16);

//             a {
//                 color: white;
//             }

//             ul {
//                 list-style: none;
//                 margin-left: 0;
//             }

//             .file {
//                 margin-bottom: var(--global-margin-bottom);

//                 &:last-child {
//                     margin-bottom: 0;
//                 }
//             }

//             .accordion-content {
//                 font-size: rem-calc(14);
//             }
//         }

//         .issue {
//             margin-bottom: var(--global-margin-bottom);

//             &:last-child {
//                 margin-bottom: 0;
//             }
//         }
//     }

//     .accordion-title {
//         &:before {
//             right: rem-calc(8);
//         }
//     }

//     .detail-block {
//         margin-bottom: rem-calc(8);
//         width: 100%;

//         &:first-child {
//             padding-top: rem-calc(8);
//         }

//         &--header {
//             font-size: rem-calc(14);
//             padding-left: rem-calc(4);
//         }

//         &--content {
//             padding-top: rem-calc(4);
//         }
//     }
// }
