/// Enables the output of debug messages
/// @type Boolean 
$debug-log: false !default;

@import 'utilities/utilities';
@import 'setup/setup';
@import 'mixins/mixins';

@include responsive-grid-columns();

.grid-container {
    --m-left: auto;
    --m-right: auto;
    --p-left: #{rem(8)};
    --p-right: #{rem(8)};

    max-width: var(--grid-width);
    margin: var(--m-top) var(--m-right) var(--m-bottom) var(--m-left);
    padding: var(--p-top) var(--p-right) var(--p-bottom) var(--p-left);

    &.expanded {
        --grid-width: 100%;
    }
}

.grid {
    @include make-grid();
}

@import 'layout/layout';
