/// Enables the output of debug messages
/// @type Boolean
$debug-log: false !default;

@import "utilities/utilities";
@import "setup/setup";
@import "mixins/mixins";

@include responsive-grid-columns();

// [attribute~="value"] - contain word
// [class*="value"]     - contain letters
// [attribute|="value"] - start with word
// [attribute^="value"] - begin with letters
// [attribute$="value"] - end

@import "layout/layout";

.grid-container {
  margin: 0 auto;
  max-width: var(--grid-width);
}

.grid {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  margin-bottom: var(--m-bottom);
  padding: var(--padding);
  width: 100%;
}
