{% extends "templates/base/_base.html" %}

{% block main %}

<form id="main" class="form-horizontal" action="/" method="post" novalidate data-validate>
    <div class="grid-container">
        <div class="grid">
            <div class="cell medium-6">
                <label class="input-field" for="email">
                    Email
                    <input required id="email" class="form-control" type="email" placeholder="Email" name="email">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="password">
                    Password
                    <input required id="password" class="form-control" type="password" placeholder="Password" name="password">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="confirmPassword">
                    Confirm password
                    <input required id="confirmPassword" class="form-control" type="password" placeholder="Confirm password" name="confirmPassword">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="username">
                    Username
                    <input required id="username" class="form-control" type="text" placeholder="Username" name="username">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="birthdate">
                    Birthdate
                    <input required id="birthdate" class="form-control" type="date" placeholder="YYYY-MM-DD" name="birthdate">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="country">
                    Country
                    <select required id="country" class="form-control" name="country">
                        <option value="">Choose</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="VG">Virgin Islands, British</option>
                        <option value="VI">Virgin Islands, U.S.</option>
                        <option value="WF">Wallis and Futuna</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="zip">
                    ZIP Code
                    <input required id="zip" class="form-control" type="text" placeholder="12345" name="zip">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell medium-6">
                <label class="input-field" for="numberOfChildren">
                    Number of children
                    <input required id="numberOfChildren" class="form-control" type="number" placeholder="Number of children" name="numberOfChildren">
                    <div class="messages"></div>
                </label>
            </div>
            <div class="cell text-center">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
    </form>
</div>
</div>
{% endblock %}
