{% extends "templates/base/_base.html" %}

{% block main %}

<div class="search-banner hero-banner">
    <div class="grid-container">
        <h1 class="header page-title">
            Ties
        </h1>
    </div>
</div>
<div class="grid-container">
    <div class="grid search-nav"></div>
    <div class="grid">
        <div class="cell">
            <div class="">
                <div class="grid">
                    <div class="cell">
                        <span>4 Results</span>
                    </div>
                    <div class="cell medium-6">
                        <select name="sort-order" class="custom-select">
                            <option class="best-matches" value="" data-id="best-matches" selected>Best Matches</option>
                            <option class="price-low-to-high" value="" data-id="price-low-to-high">Price Low To High</option>
                            <option class="price-high-to-low" value="" data-id="price-high-to-low">Price High to Low</option>
                            <option class="product-name-ascending" value="" data-id="product-name-ascending">Product Name A - Z</option>
                            <option class="product-name-descending" value="" data-id="product-name-descending">Product Name Z - A</option>
                            <option class="brand" value="" data-id="brand">Brand</option>
                            <option class="most-popular" value="" data-id="most-popular">Most Popular</option>
                            <option class="top-sellers" value="" data-id="top-sellers">Top Sellers</option>
                        </select>
                    </div>
                    <div class="cell medium-6 text-right">
                        <button type="button" class="btn">Filter</button>
                    </div>
                </div>
                <div class="grid">
                    <div class="refinement-bar cell medium-3">
                        <div class="filter-header">
                            <div class="header-bar">
                                <span>4 Results</span>
                                <button class="pull-right close">
                                    <span>Close</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="secondary-bar">
                                <a class="reset btn" href="#">Reset</a>
                            </div>
                        </div>
                        <div>
                            <div class="refinements">
                                <div class="refinement refinement-category">
                                    <div class="card-header">
                                        Category
                                    </div>
                                    <div class="card-body">
                                        <ul class="values content">
                                            <li>
                                                <a href="#">
                                                    <span title="Refine by Category: Accessories" class="">
                                                        Accessories
                                                    </span>
                                                </a>
                                                <ul class="values content">
                                                    <li>
                                                        <a href="#">
                                                            <span title="Currently Refined by Category: Ties" class="selected">Ties</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="refinement refinement-color">
                                    <div class="card-header">
                                        Color
                                    </div>
                                    <div class="card-body">
                                        <ul class="values content">
                                            <li title="Color Beige is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-beige swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Black is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-black swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Blue" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Blue&amp;lang=en_US">
                                                    <span class="swatch-circle-blue swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Navy" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Navy&amp;lang=en_US">
                                                    <span class="swatch-circle-navy swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Brown" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Brown&amp;lang=en_US">
                                                    <span class="swatch-circle-brown swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Green" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Green&amp;lang=en_US">
                                                    <span class="swatch-circle-green swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Grey is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-grey swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Orange is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-orange swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Pink is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-pink swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Purple is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-purple swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Red" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Red&amp;lang=en_US">
                                                    <span class="swatch-circle-red swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color White is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                <span class="swatch-circle-white swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                            <li title="Refine by Color: Yellow" class="color-attribute ">
                                                <a href="/s/RefArch/mens/accessories/ties/?prefn1=refinementColor&amp;prefv1=Yellow&amp;lang=en_US">
                                                    <span class="swatch-circle-yellow swatch-circle color-value swatch-mark ">value label</span>
                                                </a>
                                            </li>
                                            <li title="Color Miscellaneous is not selectable" class="color-attribute disabled">
                                                <a href="#">
                                                    <span class="swatch-circle-miscellaneous swatch-circle color-value swatch-mark disabled">value label</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card collapsible-sm refinement refinement-price">
                                    <div class="card-header">
                                        Price
                                    </div>
                                    <div class="card-body">
                                        <ul class="values content">
                                            <li class="col-sm-4 col-md-12" title="Refine by Price: $20 - $49.99">
                                                <a href="/s/RefArch/mens/accessories/ties/?pmax=50.00&amp;pmin=20.00&amp;lang=en_US">
                                                    <span>$20 - $49.99</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-wrap cell medium-9">
                        <div class="products grid" itemtype="http://schema.org/SomeProducts" itemid="#product">
                            <div class="cell medium-4">
                                <div data-pid="25752218M">
                                    <div class="product-tile" itemscope itemtype="http://schema.org/Product">
                                        <div class="image-container">
                                            <a href="/s/RefArch/solid-silk-tie/25752218M.html?lang=en_US">
                                            <img class="tile-image"
                                                src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw20f82913/images/medium/PG.949432114S.NAVYSI.PZ.jpg"
                                                alt="Solid Silk Tie"
                                                title="Solid Silk Tie, "
                                                itemprop="image"/>
                                            </a>
                                            <a class="quickview hidden-sm-down" href="/on/demandware.store/Sites-RefArch-Site/en_US/Product-ShowQuickView?pid=25752218M" title="QuickView">
                                                quickview
                                            </a>
                                        </div>
                                        <div class="tile-body">
                                            <div class="color-swatches">
                                                <div class="swatches">
                                                    <a href="#">
                                                        <span>
                                                            <img class="swatch swatch-circle"
                                                                data-index="0.0"
                                                                style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwf00966a4/images/swatch/PG.949432114S.NAVYSI.CP.jpg)"
                                                                src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwf00966a4/images/swatch/PG.949432114S.NAVYSI.CP.jpg"
                                                                alt="Solid Silk Tie, Navy, swatch"/>
                                                        </span>
                                                    </a>
                                                    <a href="#">
                                                        <span>
                                                            <img class="swatch swatch-circle"
                                                                data-index="1.0"
                                                                style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw4a00c7ec/images/swatch/PG.949432114S.REDSI.CP.jpg)"
                                                                src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw4a00c7ec/images/swatch/PG.949432114S.REDSI.CP.jpg"
                                                                alt="Solid Silk Tie, Red, swatch"/>
                                                        </span>
                                                    </a>
                                                    <a href="#">
                                                        <span>
                                                            <img class="swatch swatch-circle"
                                                                data-index="2.0"
                                                                style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwdd48c70b/images/swatch/PG.949432114S.YELLOSI.CP.jpg)"
                                                                src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwdd48c70b/images/swatch/PG.949432114S.YELLOSI.CP.jpg"
                                                                alt="Solid Silk Tie, Yellow, swatch"/>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="pdp-link" itemprop="name">
                                                <a class="link" href="#" itemprop="url">Solid Silk Tie</a>
                                            </div>
                                            <div class="price"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span>
                                                    <meta itemprop="priceCurrency" content="USD" />
                                                    <span class="strike-through list">
                                                        <span class="value" itemprop="price" content="39.50">$39.50</span>
                                                    </span>
                                                    <meta itemprop="priceCurrency" content="USD" />
                                                    <span class="sales">
                                                        <span class="value" itemprop="price" content="29.99">$29.99</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show-more text-center">
                            <button class="btn">More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
