{% extends "templates/base/_base.html" %}

{% block main %}

<div class="container product-detail product-set-detail" data-pid="in-store-setM">
    <div class="row">
        <div class="col-12">
            <div class="product-breadcrumb">

                <div class="row hidden-xs-down">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/s/RefArch/womens/?lang=en_US">Womens</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/s/RefArch/womens/clothing/?lang=en_US">Clothing</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/s/RefArch/womens/clothing/outfits/?lang=en_US">Outfits</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="product-name">In store set</h1>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h4>Set contains:</h4>
        </div>
    </div>
    
    <div class="set-items" itemtype="http://schema.org/SomeProducts" itemid="#product">
        <div class="container product-detail set-item" data-pid="52416781M" itemscope itemtype="http://schema.org/Product">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="d-md-none col-sm-12">
                            <h3 class="product-name" itemprop="name">
                                <a href="/s/RefArch/mens-front-rise-pants/52416781M.html?lang=en_US">
                                    Front Rise Straight Leg Pants
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                
                <div class="primary-images col-12 col-sm-6">
                    <div id="pdpCarousel-52416781M" class="carousel slide" data-interval="0">
                        <ol class="carousel-indicators">
                            <li data-target="#pdpCarousel-52416781M" data-slide-to="0" class='active'></li>
                            <li data-target="#pdpCarousel-52416781M" data-slide-to="1" class=''></li>
                            <li data-target="#pdpCarousel-52416781M" data-slide-to="2" class=''></li>
                            <li data-target="#pdpCarousel-52416781M" data-slide-to="3" class=''></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class='carousel-item active'>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw7e94dd50/images/large/B0274213_EDS_0.jpg" class="d-block img-fluid" alt="Front Rise Straight Leg Pants, , large" itemprop="image">
                            </div>
                            <div class='carousel-item '>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw63ee1193/images/large/B0274213_EDS_B0.jpg" class="d-block img-fluid" alt="Front Rise Straight Leg Pants, , large" itemprop="image">
                            </div>
                            <div class='carousel-item '>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwa5b78e46/images/large/B0274213_ED5_L1.jpg" class="d-block img-fluid" alt="Front Rise Straight Leg Pants, , large" itemprop="image">
                            </div>
                            <div class='carousel-item '>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw1ba19d54/images/large/B0274213_ED5_L2.jpg" class="d-block img-fluid" alt="Front Rise Straight Leg Pants, , large" itemprop="image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#pdpCarousel-52416781M" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#pdpCarousel-52416781M" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="product-name hidden-sm-down" itemprop="name">
                        <a href="/s/RefArch/mens-front-rise-pants/52416781M.html?lang=en_US">Front Rise Straight Leg Pants</a>
                    </h3>
                    <div class="product-number-rating clearfix">
                        <div class="product-number hidden-xs-down pull-left">
                            Item No.
                            <span class="product-id" itemprop="productID" >52416781M</span>
                        </div>
                        <div class="ratings pull-right"></div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-12">
                            <div data-attr="color" class="swatch">
                                <div class="attribute">
                                    <label class="color">
                                        Select Color
                                    </label>
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_52416781M_color=ED5&amp;pid=52416781M&amp;quantity=1" >
                                        <span data-attr-value="ED5" class="color-value swatch-circle swatch-value selectable" style="background-image: url(null)"></span>
                                    </a>
                                </div>
                            </div>
                            <div data-attr="size" class="swatch">
                                <div class="quantity col-sm-6">
                                    <label>Quantity</label>
                                    <select class="quantity-select custom-select form-control">
                                        <option value="1"></option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                
                                <div class="attribute">
                                    <label class="size">
                                        Select Size
                                    </label>
                                    <select class="custom-select form-control select-size" >
                                        <option value="Select Size"></option>
                                        <option value="">28</option>
                                        <option value="">29</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-12 product-options"></div>
                            </div>
                        </div>
                        
                        <span class="col-12 col-md-10 size-chart">
                            <a href="/on/demandware.store/Sites-RefArch-Site/en_US/Product-SizeChart?cid=mens-clothing">size chart</a>
                        </span>
                        
                        <div class="availability col-md-10 col-12 product-availability" data-ready-to-order="false" data-available="true">
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <label class="availability">
                                        Availability:
                                    </label>
                                </div>
                                <div class="col-12 col-sm-9">
                                    <ul class="list-unstyled availability-msg">
                                        <li>
                                            Select Styles for Availability
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-10 col-12 promotions">
                            <div class="callout" title=""></div>
                        </div>
                        <div class="col-md-10 col-12">
                            <hr>
                        </div>
                        <div class="col-12">
                            <div class="prices">
                                <div class="price"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <span>
                                        <span class="sales">
                                            <span class="value" itemprop="price" content="175.00">$175.00</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row cart-and-ipay">
                                <div class="col-sm-12">
                                    <input type="hidden" class="add-to-cart-url" value="/on/demandware.store/Sites-RefArch-Site/en_US/Cart-AddProduct">
                                    <button class="add-to-cart btn btn-primary" data-pid="52416781M" disabled>
                                        Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 wishlist-social hidden-sm-down">
                            <a href="#" class="add-to-wish-list col-md-6">
                                Add to Wishlist
                            </a>
                            
                            <span class="social-icons col-md-6">
                                pinterest
                                instagram
                                facebook
                                twitter
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-and-detail">
            <div class="row product-attributes collapsible-xs"></div>
            <div class="row description collapsible-xs ">
                <h2 class="col-sm-12 col-md-4 col-lg-3">
                    <a class="title" href="#">Description</a>
                </h2>
                <div class="col-sm-12 col-md-8 col-lg-9 value content" itemprop="description">
                    A menswear favorite, these straight leg trousers are to the point when it comes to business dressing. Made in our basic cotton stretch twill fabric.
                </div>
            </div>
            <hr class="d-sm-none">
            <div class="row details collapsible-xs ">
                <h2 class="col-sm-12 col-md-4 col-lg-3">
                    <a class="title" href="#">Details</a>
                </h2>
                <div class="col-sm-12 col-md-8 col-lg-9 value content">
                    <ul>
                        <li>95% cotton, 5% polyurethane</li>
                        <li>straight leg</li>
                        <li>clean cut</li>
                        <li>front rise 10 1/4 inches</li>
                        <li>back rise 14 3/4 inches</li>
                        <li>leg opening 15 1/2 inches</li>
                        <li>inseam 34 1/4 inches</li>
                        <li>measurements taken from a size 32</li>
                        <li>dry clean only</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container product-detail set-item" data-pid="73910532M" itemscope itemtype="http://schema.org/Product">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="d-md-none col-sm-12">
                            <h3 class="product-name" itemprop="name">
                                <a href="/s/RefArch/mens-basic-leg-trousers/73910532M.html?lang=en_US">
                                Basic Leg Trousers
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="primary-images col-12 col-sm-6">
                    <div id="pdpCarousel-73910532M" class="carousel slide" data-interval="0">
                        <ol class="carousel-indicators">
                            <li data-target="#pdpCarousel-73910532M" data-slide-to="0"
                                class='active'>
                            </li>
                            <li data-target="#pdpCarousel-73910532M" data-slide-to="1"
                                class=''>
                            </li>
                            <li data-target="#pdpCarousel-73910532M" data-slide-to="2"
                                class=''>
                            </li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class='carousel-item active'>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw5eb9fbd6/images/large/90011212_001_0.jpg" class="d-block img-fluid" alt="Basic Leg Trousers, , large" itemprop="image">
                            </div>
                            <div class='carousel-item '>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwdce32344/images/large/90011212_001_B0.jpg" class="d-block img-fluid" alt="Basic Leg Trousers, , large" itemprop="image">
                            </div>
                            <div class='carousel-item '>
                                <img src="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dwd90b2076/images/large/90011212_001_L0.jpg" class="d-block img-fluid" alt="Basic Leg Trousers, , large" itemprop="image">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#pdpCarousel-73910532M" role="button" data-slide="prev">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#pdpCarousel-73910532M" role="button" data-slide="next">
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="product-name hidden-sm-down" itemprop="name">
                        <a href="/s/RefArch/mens-basic-leg-trousers/73910532M.html?lang=en_US">
                            Basic Leg Trousers
                        </a>
                    </h3>
                    <div class="product-number-rating clearfix">
                        <div class="product-number hidden-xs-down pull-left">
                            Item No.
                            <span class="product-id" itemprop="productID" >73910532M</span>
                        </div>
                        <div class="ratings pull-right"></div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-12">
                            
                            <div data-attr="color" class="swatch">
                                
                                <div class="attribute">
                                    
                                    <label class="color">
                                    Select Color
                                    </label>
                                    
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_73910532M_color=001&amp;pid=73910532M&amp;quantity=1" >
                                        
                                        <span data-attr-value="001"
                                            class="
                                            color-value
                                            swatch-circle
                                            swatch-value
                                            selectable
                                            "
                                            style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw124ef0e0/images/swatch/90011212_001_sw.jpg)"
                                            >
                                        </span>
                                    </a>
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_73910532M_color=A00&amp;pid=73910532M&amp;quantity=1" >
                                        
                                        <span data-attr-value="A00"
                                            class="
                                            color-value
                                            swatch-circle
                                            swatch-value
                                            selectable
                                            "
                                            style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw33960489/images/swatch/90011212_A00_sw.jpg)"
                                            >
                                        </span>
                                    </a>
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_73910532M_color=G8E&amp;pid=73910532M&amp;quantity=1" >
                                        
                                        <span data-attr-value="G8E"
                                            class="
                                            color-value
                                            swatch-circle
                                            swatch-value
                                            selectable
                                            "
                                            style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw124ef0e0/images/swatch/90011212_001_sw.jpg)"
                                            >
                                        </span>
                                    </a>
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_73910532M_color=DKL&amp;pid=73910532M&amp;quantity=1" >
                                        
                                        <span data-attr-value="DKL"
                                            class="
                                            color-value
                                            swatch-circle
                                            swatch-value
                                            selectable
                                            "
                                            style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw124ef0e0/images/swatch/90011212_001_sw.jpg)"
                                            >
                                        </span>
                                    </a>
                                    <a href="https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?dwvar_73910532M_color=B9W&amp;pid=73910532M&amp;quantity=1" >
                                        
                                        <span data-attr-value="B9W"
                                            class="
                                            color-value
                                            swatch-circle
                                            swatch-value
                                            selectable
                                            "
                                            style="background-image: url(https://alpenite01.alliance-prtnr-eu01.dw.demandware.net/on/demandware.static/-/Sites-apparel-m-catalog/default/dw41252049/images/swatch/90011212_B9W_sw.jpg)"
                                            >
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div data-attr="size" class="swatch">
                                
                                <div class="quantity col-sm-6">
                                    
                                    <label>Quantity</label>
                                    <select class="quantity-select custom-select form-control">
                                        <option value="1"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=1"
                                            selected
                                            >
                                            1
                                        </option>
                                        <option value="2"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=2"
                                            >
                                            2
                                        </option>
                                        <option value="3"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=3"
                                            >
                                            3
                                        </option>
                                        <option value="4"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=4"
                                            >
                                            4
                                        </option>
                                        <option value="5"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=5"
                                            >
                                            5
                                        </option>
                                        <option value="6"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=6"
                                            >
                                            6
                                        </option>
                                        <option value="7"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=7"
                                            >
                                            7
                                        </option>
                                        <option value="8"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=8"
                                            >
                                            8
                                        </option>
                                        <option value="9"
                                            data-url="/on/demandware.store/Sites-RefArch-Site/en_US/Product-Variation?pid=73910532M&amp;quantity=9"
                                            >
                                            9
                                        </option>
                                    </select>
                                </div>
                                
                                <div class="attribute">
                                    
                                    <label class="size">
                                    Select Size
                                    </label>
                                    
                                    <select class="custom-select form-control select-size" >
                                        <option value=""
                                            Select Size
                                        </option>
                                        <option value=""
                                            >
                                            28
                                        </option>
                                        <option value=""
                                            >
                                            29
                                        </option>
                                        <option value=""
                                            >
                                            30
                                        </option>
                                        <option value=""
                                            >
                                            31
                                        </option>
                                        <option value=""
                                            >
                                            32
                                        </option>
                                        <option value=""
                                            >
                                            33
                                        </option>
                                        <option value=""
                                            >
                                            34
                                        </option>
                                        <option value=""
                                            >
                                            36
                                        </option>
                                        <option value=""
                                            >
                                            38
                                        </option>
                                        <option value=""
                                            >
                                            40
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-10 col-12 product-options">
                                </div>
                            </div>
                        </div>
                        
                        <span class="col-12 col-md-10 size-chart">
                            
                            <a href="/on/demandware.store/Sites-RefArch-Site/en_US/Product-SizeChart?cid=mens-clothing">
                                
                            </a>
                            <div class="size-chart-collapsible"></div>
                        </span>
                        
                        
                        
                        <div class="availability col-md-10 col-12 product-availability" data-ready-to-order="false" data-available="true">
                            
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <label class="availability">
                                    Availability:
                                    </label>
                                </div>
                                <div class="col-12 col-sm-9">
                                    <ul class="list-unstyled availability-msg">
                                        <li>
                                            Select Styles for Availability
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-10 col-12 promotions">
                            
                            <div class="callout" title="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <hr>
                        </div>
                        <div class="col-12">
                            
                            <div class="prices">
                                
                                <div class="price"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    
                                    <span>
                                        <meta itemprop="priceCurrency" content="USD" />
                                        <span class="sales">
                                            <span class="value" itemprop="price" content="195.00">
                                                
                                                $195.00
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            
                            
                            <div class="row cart-and-ipay">
                                <div class="col-sm-12">
                                    <input type="hidden" class="add-to-cart-url" value="/on/demandware.store/Sites-RefArch-Site/en_US/Cart-AddProduct">
                                    <button class="add-to-cart btn btn-primary"
                                        data-pid="73910532M"
                                        disabled>
                                    <i class="fa fa-shopping-bag"></i>
                                    Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12 wishlist-social hidden-sm-down">
                            <a href="#" class="add-to-wish-list col-md-6">
                            Add to Wishlist
                            </a>
                            
                            <span class="social-icons col-md-6">
                            <i class="fa fa-pinterest" title="Pinterest"></i>
                            <i class="fa fa-instagram" title="Instagram"></i>
                            <i class="fa fa-facebook-official" title="Facebook"></i>
                            <i class="fa fa-twitter" title="Twitter"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-and-detail">
            <div class="row product-attributes collapsible-xs">
                
            </div>
            <div class="row description collapsible-xs ">
                <h2 class="col-sm-12 col-md-4 col-lg-3">
                    <a class="title" href="#">Description</a>
                </h2>
                
                <div class="col-sm-12 col-md-8 col-lg-9 value content" itemprop="description">
                    These basic straight leg trousers transgress modern suiting.
                </div>
            </div>
            <hr class="d-sm-none">
            <div class="row details collapsible-xs ">
                <h2 class="col-sm-12 col-md-4 col-lg-3">
                    <a class="title" href="#">Details</a>
                </h2>
                
                <div class="col-sm-12 col-md-8 col-lg-9 value content">
                    <ul>
                        <li>96% wool, 4% lycra</li>
                        <li>straight leg</li>
                        <li>quarter top pockets</li>
                        <li>double back button through besom pockets</li>
                        <li>front rise 10¾ inches</li>
                        <li>back rise 15 3/4 inches</li>
                        <li>leg opening 17¾ inches</li>
                        <li>inseam 34 1/4 inches</li>
                        <li>measurements taken from a size 32</li>
                        <li>dry clean only</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12 col-sm-6 offset-sm-6 bundle-footer">
        
        <div class="col-12 prices-add-to-cart-actions">
            
            
            <div class="price">
                <span class="starting">
                Starting from
                $99.99
                </span>
            </div>
            
            
            <div class="row cart-and-ipay">
                <div class="col-sm-12">
                    <input type="hidden" class="add-to-cart-url" value="/on/demandware.store/Sites-RefArch-Site/en_US/Cart-AddProduct">
                    <button class="add-to-cart-global btn btn-primary"
                        data-pid="in-store-setM"
                        disabled>
                    <i class="fa fa-shopping-bag"></i>
                    Add All to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
