<div class="grid-container">
    <div class="grid">
        <div class="cell">
            <h4>Flexbox helpers</h4>
        </div>
    </div>
    <div class="flex">
        <div class="box-example box flex align-center">
            <span class="capitalize strong">auto</span>
        </div>
        <div class="box-example box flex align-center">
            <span class="capitalize strong">auto</span>
        </div>
        <div class="box-example box flex align-center">
            <span class="capitalize strong">auto</span>
        </div>
        <div class="box-example box flex align-center">
            <span class="capitalize strong">auto</span>
        </div>
    </div>
    <div class="flex">
        <div class="box-example box flex align-center">
            <span class="capitalize strong">auto</span>
        </div>
        <div class="box-example box shrink flex align-center add-margin">
            <span class="capitalize strong">shrink & margin</span>
        </div>
        <div class="box-example box shrink flex align-center add-padding">
            <span class="capitalize strong">shrink & padding</span>
        </div>
        <div class="box-example box flex align-center">
            <span class="capitalize strong">shrink</span>
        </div>
    </div>
</div>
