<style>
    .box-example {
        background: #C9DDFF;
        border: 1px solid #2C2C54;
    }
</style>

<div class="grid-container">
    <div class="grid">
        <div class="cell">
            <h4>Flexbox helpers</h4>
        </div>
    </div>
    <div class="guide flex">
        <div class="box">
            <p>
                <span class="class">flex</span>
                <span class="description">flex container</span>
            </p>
            <p>
                <span class="class">box</span>
                <span class="description">flex child</span>
            </p>
            <p>
                <span class="class">align-right</span>
            </p>
            <p>
                <span class="class">align-center</span>
            </p>
            <p>
                <span class="class">align-justify</span>
            </p>
            <p>
                <span class="class">align-spaced</span>
            </p>
            <p>
                <span class="class">align-top</span>
            </p>
            <p>
                <span class="class">align-middle</span>
            </p>
            <p>
                <span class="class">align-button</span>
            </p>
            <p>
                <span class="class">align-stretch</span>
            </p>
            <p>
                <span class="class">flex-y</span>
            </p>
        </div>
        <div class="box">
            <dl>
                <dt>text</dt>
                <dd>desc</dd>
            </dl>
        </div>
    </div>
    <div class="flex">
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
    </div>
    <div class="flex">
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
    </div>
    <div class="flex">
        <div class="box shrink box-example align-middle">
            <span>.box.shrink</span>
        </div>
        <div class="box box-example align-middle">
            <span>.box</span>
        </div>
    </div>
</div>
