.btn {
    padding: $btn-padding;
    color: $btn-color;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    letter-spacing: $btn-letter-spacing;
    text-transform: $btn-text-transform;
    background: $btn-background;
    border: $btn-border;
    border-radius: $btn-border-radius;
    cursor: $btn-cursor;
    transition: $btn-transition;

    &:disabled,
    &.is-disabled {
        color: $btn-color-disabled;
        background: $btn-background-disabled;
        border: $btn-border-disabled;
        cursor: $btn-cursor-disabled;
    }

    &:hover,
    &:focus {
        color: $btn-color-hover;
        background: $btn-background-hover;
        border: $btn-border-hover;
    }
}

@mixin buttons ($palette, $text-color) {
    @each $color, $hex in $palette {
        &.btn-#{$color} {
            color: $text-color;
            background: $hex;

            // &:not(:disabled) {
            //     border: 1px solid $hex;
            // }

            // &.hollow {
            //     color: $hex;
            //     background: transparent;
            //     border: 1px solid $hex;

            //     &.button-#{$color} {
            //         &:hover {
            //             color: $text-color;
            //             background: $hex;
            //         }
            //     }
            // }
        }
    }
}

@include buttons($palette, map-get($palette, medium-grey));
