button,
.button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    padding: 15px 30px;
    background: var(--c-black);
    text-decoration: none;
    color: var(--c-white);
    margin-bottom: $default-typo-margin-bottom;
    display: inline-block;
    cursor: pointer;

    &:disabled,
    &.disabled {
        background: var(--c-medium-grey) !important;
        color: var(--c-white) !important;
        cursor: default;
    }

    &.hollow {
        background: transparent;
        color: var(--c-black);
        border: 1px solid var(--c-black);

        &:hover {
            background: var(--c-black);
            color: var(--c-white);
        }

        &:disabled {
            background: transparent !important;
            color: var(--c-medium-grey) !important;
            border: 1px solid var(--c-medium-grey) !important;
        }
    }

    &.big {
        padding: 30px 50px;
    }

    &.small {
        padding: 10px 15px;
    }

    &.block {
        width: 100%;
    }
}
