.btn {
    display: inline-block;
    margin: 0;
    padding: rem(10 20);
    color: map-get($palette, metal);
    text-decoration: none;
    background: map-get($palette, gold);
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: all .2s ease-out;

    &:disabled,
    &.disabled {
        color: map-get($palette, dark-grey);
        background: map-get($palette, medium-grey);
        cursor: default;
    }

    &:hover,
    &:focus {
        color: map-get($palette, metal);
        background: map-get($palette, gold);
        opacity: .7;
    }
}

// .button {
//     @each $color, $hex in $palette {
//         &.button-#{$color} {
//             color: $text-color;
//             background: $hex;

//             &:not(:disabled) {
//                 border: 1px solid $hex;
//             }

//             &.hollow {
//                 background: transparent;
//                 color: $hex;
//                 border: 1px solid $hex;

//                 &.button-#{$color} {
//                     &:hover {
//                         background: $hex;
//                         color: $text-color;
//                     }
//                 }
//             }
//         }
//     }
// }
